streamlit>=1.26.0
dash==2.14.1
numpy
pandas
plotly
dash_bootstrap_components
gunicorn

seaborn
matplotlib.pyplot
sklearn.model_selection
sklearn.preprocessing
sklearn.tree
sklearn.ensemble
sklearn.metrics
xgboost
lightgbm
catboost 
